{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackerVote</title>
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="logo"><a href="{% url 'dashboard' %}">HackerVote</a></div>
        <div class="nav-right">
            {% block nav %}
            {% endblock %}
        </div>
    </header>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>