{% extends 'candidate/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/loginPage.css' %}">
{% endblock %}

{% block content %}
<div class="loginPage">
    <div class="log">
        <h1 align="center">are you sure you want to delete {{ candidate.name }} ?</h1>
       <form action="" method="POST">
           {% csrf_token %}
           <span class="form-button"><a href="{% url 'admin_dashboard' %}">cancel</a></span>
           <input type="submit" value="delete" class="form-button">
        </form>
    </div>
</div>
{% endblock %}
