{% extends 'candidate/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/detail.css' %}">
{% endblock %}

{% block content %}

<div class="details">
    <div class="detail">
        <div class="head"><h2 align="center">{{ candidate.name }}</h2></div>
        <div class="vote"><h5 align="center"><em>Votes : </em>  {{ candidate.votes }}</h5></div>
        <br>
        <div class="tail"><h5 align="center"><em>Solved challenges : </em>  {{ candidate.challenges_solved }}</h5></div>
        <br>
        <div class="tail">
            <h3 align="center">Expertise :</h3>
        </div>
        {% for expert in expertise %}
            <div class="tail"><h5 align="center">{{ expert.subject }} :  <em>{{ expert.rating }}/5</em></h5></div>
        {% endfor %}
        <div class="appeal">
            <h4 align="center">vote for <i>{{ candidate.name }}</i></h4>
        </div>
        <form action="{% url 'vote' candidate.id %}" method="POST">
        {% csrf_token %}
            <h4 align="center"><input type="submit" value="vote" class="btn"></h4>
        
        </form>
    </div>
</div>

{% endblock %}